<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title></title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/general :: navbar"></div>


    <div th:fragment="recipeForm">

        <div>
            <div class="form-group">
                <label for="name">Name</label>
                <div class="row row-no-margin">
                    <input type="text" class="form-control form-control-width col-9" id="name" th:field="*{recipeName}" required>
                </div>
            </div>

            <div  class = "form-group" th:each="step, iter : ${recipeDTO.steps}">
                <input type="hidden" th:value="${iter.index}" name="stepIndex"/>

                <span th:text="'Step ' + ${iter.index + 1 }"></span>
                <div class="row row-no-margin">
                    <textarea type="text" class="form-control form-control-width col-9" th:field="*{steps[__${iter.index}__]}" id="step1" rows="3"></textarea>
                    <div class="d-flex align-items-end">
                        <a th:unless="${iter.size == 1}" th:href="@{/recipe/deleteStep/{iterIndex}(iterIndex = ${iter.index})}" type="submit" class="btn btn-primary"> <i class="fas fa-trash"></i> </a>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="add">Add Step</button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="save">Save</button>
            </div>
            <div th:if="${existingRecipe != null}" class="alert alert-danger notification" role="alert">
                <p th:text="${existingRecipe.recipeName} + ' already exists'"></p>
            </div>
        </div>


    </div>

    <div th:fragment="cookbookForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-width" th:field="*{cookbookName}" required pattern=".*\S+.*" title="This field is required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="save">Save</button>
        </div>
    </div>



</div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>