<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${socialMealsUserDTO.username} + '\'s cookbook'"></title>
</head>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto(${socialMealsUserDTO.username} + '\'s recipes')"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <form class="searchRecipe" th:action="@{/cookbook/recipe/search}">
        <input type="text" class="form-control" name="keyword"/>
        <input type="hidden" th:value="${socialMealsUserDTO.username}" name="cookbookuser">
        <input type="submit" class="btn btn-primary" value="Search"/>
    </form>

    <table class="table">

        <tr th:each="recipe : ${recipeDTOList}">
            <td class="align-middle">
                <a class="text-decoration-none" th:href="@{/recipes/{urlId}(urlId=${recipe.urlId})}" th:text="${recipe.recipeName}"></a>
            </td>
            <td data-th-align="right">
                <a type="button" class="btn btn-primary" th:href="@{/recipe/update/{urlId}(urlId=${recipe.urlId})}" th:if="${ownRecipe}"><i class="fas fa-pencil-alt"></i></a>
                <a type="button" class="btn btn-primary confirmDelete" th:href="@{/recipe/delete/{urlId}(urlId=${recipe.urlId})}" th:if="${ownRecipe}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    </table>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>