<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto('My kitchen')"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <br>

    <div class="row justify-content-md-center list-styling">
        <div class="col-8">
            <div class="d-flex flex-row-reverse increase-font">
                <a class="text-decoration-none" th:href="@{/MyKitchen/addCookbook}">Create Cookbook</a>
            </div>

            <table class="table">
                <tr class="row-even-spacing">
                    <td class="align-middle">
                        <a class="text-decoration-none" th:href="@{/cookbook/myCookbook/{username}(username=${user.username})}">My Recipes</a>
                    </td>
                    <td></td>
                </tr>
                <tr class="row-even-spacing" th:each="cookbook : ${cookbookList}">
                    <td class="align-middle">
                        <a class="text-decoration-none" th:href="@{/cookbook/{urlId}(urlId = ${cookbook.urlId})}" th:text="${cookbook.cookbookName}"></a>
                    </td>
                    <td data-th-align="right">
                        <a type="button" class="btn btn-primary" th:href="@{/cookbook/update/{urlId}(urlId = ${cookbook.urlId})}"><i class="fas fa-pencil-alt"></i></a>
                        <a type="button" class="btn btn-primary confirmDelete" th:href="@{/cookbook/delete/{urlId}(urlId = ${cookbook.urlId})}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>

    </div>



</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>