<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>My kitchen</title>
</head>
<body>


<div class="container">

    <div th:replace="fragments/general :: headerPhoto"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <h1>My kitchen</h1>

    <br>


    <div class="row justify-content-between">
        <table class="table col-8">
            <tr>
                <td> <a th:href="@{/cookbook/myCookbook/{username}(username=${user.username})}">My cookbook</a> </td>
                <td></td>
                <td>Delete</td>
            </tr>
            <tr th:each="cookbook : ${cookbookList}">
                <td> <a th:href="@{/cookbook/{urlId}(urlId = ${cookbook.urlId})}" th:text="${cookbook.cookbookName}"></a></td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </table>

        <div class="col">
            <a th:href="@{/MyKitchen/addCookbook}">Create Cookbook</a>
        </div>
    </div>





        <!--    <div class="row justify-content-md-center">-->
<!--        <ul class="col-md-auto listWithoutStyle">-->
<!--            <li>-->
<!--                -->
<!--            </li>-->
<!--            <li th:each="cookbook : ${cookbookList}">-->
<!--                <a class="btn btn-outline-secondary btn-lg button-width" role="button"-->
<!--                   th:href="@{/cookbook/{urlId}(urlId = ${cookbook.urlId})}" th:text="${cookbook.cookbookName}"></a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a class="btn btn-outline-secondary btn-lg button-width" role="button"-->
<!--                   th:href="@{/MyKitchen/addCookbook}">Create Cookbook</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->



</div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>