<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>My kitchen</title>
</head>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <h1>My kitchen</h1>

    <br>

    <div class="d-flex flex-row-reverse">
        <a th:href="@{/MyKitchen/addCookbook}">Create Cookbook</a>
    </div>

    <table class="table">
        <tr>
            <td><a th:href="@{/cookbook/myCookbook/{username}(username=${user.username})}">My cookbook</a></td>
            <td></td>
        </tr>
        <tr th:each="cookbook : ${cookbookList}">
            <td><a th:href="@{/cookbook/{urlId}(urlId = ${cookbook.urlId})}" th:text="${cookbook.cookbookName}"></a></td>
            <td data-th-align="right">
                <a type="button" class="btn btn-primary" th:href="@{/cookbook/update/{urlId}(urlId = ${cookbook.urlId})}"><i class="fas fa-pencil-alt"></i></a>
                <a type="button" class="btn btn-primary" th:href="@{/cookbook/delete/{urlId}(urlId = ${cookbook.urlId})}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    </table>

</div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>