<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto('New Recipe')"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <form class="has-validation" th:action="@{/recipe/new/newRecipe}" method="post" th:object="${recipeDTO}">
        <div class="row form-control-height">
            <div class="col-8">
                <div th:replace="fragments/forms :: recipeForm"></div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>