<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto('Browse Recipes')"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <form class="searchRecipe" th:action="@{/recipes/search}">
        <input type="text" class="form-control" name="keyword"/>
        <input type="submit" class="btn btn-primary" value="Search"/>
    </form>

    <br>

    <div class="row no-gutters">
        <form class="col-1" th:action="@{/recipes/asc}">
            <input class="btn btn-outline-secondary" type="submit" value="A-Z">
        </form>

        <form class="col-1" th:action="@{/recipes/desc}">
            <input class="btn btn-outline-secondary" type="submit" value="Z-A">
        </form>

    </div>

    <span class="searchResults" th:text="'results: ' + ${recipeList.size()}"></span>

    <table class="table">

        <tr th:each="recipe : ${recipeList}">
            <td><a class="text-decoration-none" th:href="@{/recipes/{urlId}(urlId=${recipe.urlId})}"
                   th:text="${recipe.recipeName}"></a></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>