<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${recipe.recipeName}"></title>
</head>
<body>


<div class="container">

    <div th:replace="fragments/general :: headerPhoto"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <h1><span th:text="${recipe.recipeName}"></span></h1>


    <div class="row form-control-height">
        <div class="col-3">
            <div class="row">
                <h2>made by
                    <a th:href="@{/cookbook/myCookbook/{username}(username = ${recipe.socialMealsUserDTO.username})}"
                       th:text="${recipe.socialMealsUserDTO.username}" sec:authorize="isAuthenticated()"></a>
                    <span th:text="${recipe.socialMealsUserDTO.username}" sec:authorize="isAnonymous()"></span>
                    <br>
                </h2>
            </div>


            <div class="row" th:if="${loggedInUser}">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to Cookbook
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div th:each="cookbook : ${cookbookList}">
                            <a class="dropdown-item" th:href="@{/cookbook/add/{urlId}/{recipeUrlId}(urlId = ${cookbook.urlId}, recipeUrlId = ${recipe.urlId})}" th:text="${cookbook.cookbookName}"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="rating-average" th:unless="${averageRating} == null" th:text="${averageRating} + ' / 5'"></p>
            </div>
            <div class="row" th:if="${loggedInUser}">
                <form class="has-validation" th:action="@{/recipes/{recipeUrlId}/rate(recipeUrlId = ${recipe.urlId})}" method="post" th:object="${rating}">
                    <div class="fork-rating d-flex justify-content-right flex-row-reverse">
                        <input class="radioRating" type="radio" id="fork5" name="rating" value="5">
                        <label class="radioRating" for="fork5" title="5 fork"><i class="fas fa-utensils"></i></label>

                        <input class="radioRating" type="radio" id="fork4" name="rating" value="4">
                        <label class="radioRating" for="fork4" title="4 fork"><i class="fas fa-utensils"></i></label>

                        <input class="radioRating" type="radio" id="fork3" name="rating" value="3">
                        <label class="radioRating" for="fork3" title="3 fork"><i class="fas fa-utensils"></i></label>

                        <input class="radioRating" type="radio" id="fork2" name="rating" value="2">
                        <label class="radioRating" for="fork2" title="2 fork"><i class="fas fa-utensils"></i></label>

                        <input class="radioRating" type="radio" id="fork1" name="rating" value="1">
                        <label class="radioRating" for="fork1" title="1 fork"><i class="fas fa-utensils"></i></label>
                    </div>
                </form>
            </div>
        </div>



        <div class="col-6">
            <h3>Cooking instructions</h3>
            <ol>
                <li th:each="step, iterStep : ${recipe.steps}">
                    <a th:text="${step}"></a>
                </li>
            </ol>
        </div>

        <div class="col-3 ">

            <ul class="shoppingListPostIT listWithoutStyle">
                <h3>Shopping list</h3>

                <li th:each="ingredientRecipe : ${ingredientRecipes}">
                    <a th:text=" ${ingredientRecipe.ingredientDTO.ingredientName} + ' (' + ${ingredientRecipe.getQuantityAsString() + ' ' + ingredientRecipe.quantityType} +') ' "></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>