<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Update recipe</title>
</head>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto">

    </div>
    <div th:replace="fragments/general :: navbar"></div>
    <h1>Edit</h1>

    <div class="row form-control-height">

        <div class="col-8">

            <form class="has-validation" th:action="@{/recipe/update/updateSteps}" method="post" th:object="${recipeDTO}">

                <div th:replace="fragments/forms :: recipeForm"></div>
            </form>
        </div>

        <div class="col">

            <img class="recipeImage" th:src="*{'data:image/png;base64,' + recipeImage}">

            <form th:action="@{/recipe/update/{urlId}/updateImage(urlId = ${recipeDTO.urlId})}" method="post" enctype="multipart/form-data">
                <label for="recipeImg">Select image:</label>
                <input  type="file" id="recipeImg" name="multipartImage" accept="image/*">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>

    <div class="row form-control-height">

        <div class="col-8">
            <h3>Add ingredients</h3>
            <form class="has-validation"
                  th:action="@{/recipe/update/{urlId}/addingredient(urlId=${recipeDTO.urlId})}" method="post"
                  th:object="${ingredientRecipeDTO}">

                <div class="form-group">
                    <label for="ingredientAuto">Ingredient</label>
                    <input class="form-control form-control-width" name="ingredientName" id="ingredientAuto" required pattern=".*\S+.*" title="This field is required">
                    <input type="hidden" id="urlId" th:value="${recipeDTO.urlId}">
                </div>

                <div class="row">

                    <div class="form-group col-4">
                        <label for="quantity">Quantity</label>
                        <input class="form-control form-control-width" type="number" min="0.1" step="0.1" id="quantity" th:field="*{quantity}">
                    </div>

                    <div class="form-group col-7">
                        <label for="quantitytype">Units</label>
                        <input class="form-control form-control-width" type="text" id="quantitytype" th:field="*{quantityType}">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>

        <div class="col">
            <h3>Shopping list</h3>

            <ul class="listWithoutStyle">
                <li th:each="ingredientRecipe : ${presentIngredientsRecipes}">

                    <div class="row updateShoppingList">

                        <div class="col-4">
                            <span th:text="${ingredientRecipe.ingredientDTO.ingredientName}"></span>
                        </div>

                        <div class="col-6">
                            <span th:text="${ingredientRecipe.getQuantityAsString() + ' ' + ingredientRecipe.quantityType}"></span>
                        </div>

                        <div class="col-1">

                            <a class="confirmDelete btn btn-primary"
                               th:href="@{/recipe/delete/{urlId}/{ingredientName}
                            (urlId=${ingredientRecipe.recipeDTO.urlId},
                                ingredientName=${ingredientRecipe.ingredientDTO.ingredientName})}"><i class="fas fa-trash"></i>
                            </a>
                        </div>

                    </div>

                </li>
            </ul>
        </div>

    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>