<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Update recipe</title>
</head>
<body>
<div th:replace="fragments/general :: headerPhoto"></div>
<div class="container">
    <div th:replace="fragments/general :: navbar"></div>

    <form class="has-validation" th:action="@{/recipes/update/{recipeName}(recipeName=${recipeDTO.recipeName})}" method="post" th:object="${recipeDTO}">
        <div th:replace="fragments/forms :: recipeForm"></div>
    </form>
</div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>