<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Update recipe</title>
</head>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <div class="flex">
        <div class="existingRecipe">
            <table class="table">
                <tr>
                    <th> Recipe</th>
                </tr>
                <tr>
                    <td th:text="${recipeDTO.recipeName}"></td>
                </tr>
                <tr th:each="step, iter : ${recipeDTO.getSteps()}">
                    <td th:text="'Step ' + __${iter.index + 1}__ + ': ' + ${step}"></td>
                </tr>
            </table>
        </div>

        <div class="addedIngredients">
            <table class="table">
                <tr>
                    <th> Ingredient</th>
                </tr>
                <tr th:each="ingredientRecipe : ${presentIngredientsRecipes}">
                    <td th:text="${ingredientRecipe.ingredientDTO.ingredientName} + ' '
                    + ${ingredientRecipe.getQuantityAsString() + ' ' + ingredientRecipe.quantityType}"></td>
                </tr>
            </table>
        </div>
    </div>

    <h1>Update</h1>

    <div class="flex">


        <div class="updateRecipe">
            <form class="has-validation" th:action="@{/recipe/update/{recipeName}(recipeName=${recipeDTO.recipeName})}"
                  method="post" th:object="${recipeDTO}">
                <div th:replace="fragments/forms :: recipeForm"></div>
            </form>
        </div>

        <div class="updateIngredients">
            <form class="has-validation"
                  th:action="@{/recipe/update/{recipeName}/addingredient(recipeName=${recipeDTO.recipeName})}" method="post"
                  th:object="${ingredientRecipeDTO}">
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input class="form-control form-control-with" type="number" step="0.1" id="quantity" th:field="*{quantity}">
                </div>

                <div class="form-group">
                    <label for="quantitytype">Quantity type</label>
                    <input class="form-control form-control-with" type="text" id="quantitytype" th:field="*{quantityType}">
                </div>

                <div class="form-group">
                    <label for="ingredientAuto">Ingredient</label>
                    <input class="form-control form-control-with" name="ingredientName" id="ingredientAuto">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>